body{
    background-color:black;
}

h1{
    color:blue;
    text-align:center;
    font-size:72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

li{
    color:blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}