body{
    background-color:rgb(164, 212, 212)
}

h1{
    text-align:center;
    font-size:45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color:blue;
    text-align:center;
    font-size:35px;
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size:20px;
}

h3{
    color:rgb(128, 35, 35);
    font-family:Arial, Helvetica, sans-serif;
}